In [26]:
import pandas as pd
import numpy as np

In [27]:
df = pd.read_excel('NLP Engineer - Question 1.xlsx', sheet_name='Completed')
df.head()

,Certificate Description,Sport Name,Position,Year,Full Name
0,"Raleigh Flynn, your outstanding performance in...",Equestrian Dressage,1st,2013,Raleigh Flynn
1,"Clifford Hall, your outstanding performance in...",Boxing,2nd,2013,Clifford Hall
2,In recognition of their exceptional performanc...,Rowing,2nd,2009,Clifton Hamilton
3,We take immense pleasure in presenting this ce...,Wrestling Freestyle,3rd,2011,Eldridge Simmons
4,"Frederick Graves, your outstanding performance...",Water Polo,1st,2013,Frederick Graves

In [28]:
Description = df[['Certificate Description','Sport Name']]
Description

                               Certificate Description           Sport Name
0    Raleigh Flynn, your outstanding performance in...  Equestrian Dressage
1    Clifford Hall, your outstanding performance in...               Boxing
2    In recognition of their exceptional performanc...               Rowing
3    We take immense pleasure in presenting this ce...  Wrestling Freestyle
4    Frederick Graves, your outstanding performance...           Water Polo
..                                                 ...                  ...
293  We take immense pleasure in presenting this ce...            Taekwondo
294  In recognition of their exceptional performanc...         Canoe Slalom
295  Clifford Gallagher, your outstanding performan...        Mountain Bike
296  We take immense pleasure in presenting this ce...         Rugby Sevens
297  We take immense pleasure in presenting this ce...              Fencing

[298 rows x 2 columns]

In [29]:
from sklearn.model_selection import train_test_split

In [30]:
train_data, test_data = train_test_split(Description, test_size=0.2, random_state=42)

In [31]:
len(train_data), len(test_data)

(238, 60)

In [32]:
import os

In [33]:
with open('train.txt','w') as f:
    for i in train_data:
        f.write(i + ' \n')

with open('test.txt','w') as f:
    for i in test_data:
        f.write(i + ' \n')

In [34]:
ar = df['Sport Name'].unique()

len(ar)

50

In [35]:
tr = pd.DataFrame(train_data)
a = tr['Sport Name'].unique()
len(a)

50

In [37]:
df2 = pd.read_excel('NLP Engineer - Question 1.xlsx', sheet_name='Data-Pending',header=None)
df2.head()

                                                   0
0  In recognition of their exceptional performanc...
1  Eldridge Holloway, your outstanding performanc...
2  In recognition of their exceptional performanc...
3  Frederick Johns, your outstanding performance ...
4  In recognition of their exceptional performanc...